* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* Add a black background color to the top navigation bar */
.nav-bar {
    overflow: hidden;
    background-color: #2196f3;
  }


  
  /* Style the links inside the navigation bar */
  .navigate a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
  }
  
  /* Change the color of links on hover */
  .nav-bar a:hover {
    background-color: #67b9fb;
    color: #fff;
  }
  
  /* Style the "active" element to highlight the current page */
  .nav-bar a.active {
    color: #fff;
  }
  
  /* Style the search box inside the navigation bar */
.nav-bar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

  /* Style the search logo inside the Search button  */
.fa fa-search {
    margin-right: 16px;
    margin-top: 8px;
}

.nav-bar .search-container {
    float: right;
  }

.nav-bar .search-container button:hover {
    background: #ccc;
  }

@media screen and (max-width: 600px) {
.nav-bar .search-container {
    float: none;
    }
}

  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
.nav-bar a, .nav-bar input[type=text], .nav-bar .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    }

.nav-bar input[type=text] {
    border: 1px solid #ccc;
    }
}