* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* Add a black background color to the top navigation bar */
.nav-bar {
    overflow: hidden;
    background-color: #2196f3;
  }


  
  /* Style the links inside the navigation bar */
  .navigate a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
  }
  
  /* Change the color of links on hover */
  .nav-bar a:hover {
    background-color: #67b9fb;
    color: #fff;
  }
  
  /* Style the "active" element to highlight the current page */
  .nav-bar a.active {
    color: #fff;
  }
  
  /* Style the search box inside the navigation bar */
.nav-bar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

  /* Style the search logo inside the Search button  */
.fa fa-search {
    margin-right: 16px;
    margin-top: 8px;
}

.nav-bar .search-container {
    float: right;
  }

.nav-bar .search-container button:hover {
    background: #ccc;
  }

@media screen and (max-width: 600px) {
.nav-bar .search-container {
    float: none;
    }
}

  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
.nav-bar a, .nav-bar input[type=text], .nav-bar .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    }

.nav-bar input[type=text] {
    border: 1px solid #ccc;
    }
}

/* Style the bootstrap images */
.content-jumbotron .jumbotron .btn1 {
  text-decoration-line: none;
  border: 0;
  border-radius: 5px;
  box-shadow: 5px;
  background-color: #3377e4;
  width: 7%;
  color: #fff;
  padding: 7px;
  font-weight: normal;
  margin: 0 auto;
  display: flex;
  align-items: left;
  flex-direction: column;
}

/* .jumbotron h4 p {
  padding: 25px;
  margin: 15px 0 15px;
} */

/* Style the staffs images */
.team-div {
  background-color: #fff;
  color: #333;
  height: 40rem;
}

#team {
  text-align: center;
  position: relative;
  top: 3rem;
}

.institution .position {
  display: flex;
  position: relative;
}

.team-container {
  display: flex;
  /* flex: 1 1 0; */
  justify-content: space-around;
  position: relative;
  top: 5rem;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 0;
  /* vertical-align: middle; */
}

.team-members{
  font-weight: normal;
}

.img-wrp {
  height: 18rem;
  width: 100%;
}

.card {
  box-shadow: 0; 
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3); */
  transition: 0.2s -webkit-transform 1s, opacity 2s, background 2s, flex-basis 2s;
  width: 22%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.container {
  padding: 20px 0;
  text-align: center;
}

.container p {
line-height: 1.4;
}

.container .team-members {
  padding: 0 0 ;
  color: #2196f3;
  font-size: 20px;
  /* float: left; */
}

.img-circle {
  border-radius: 50%;
}
